<table class="table">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let book of books">
            <td>
                <img src="{{ book.illustration }}" alt="{{ book.title }}">
            </td>
            <td>
                <a [routerLink]="['/book', book.id]">{{ book.title }}</a>
            </td>
            <td>{{ book.price }}</td>
        </tr>

    </tbody>
</table>
